<div class="row">
    <div class="container">
        <h2>
            {{name}}
        </h2>

    </div>
    <div class="container">
        <h3>
            Create blog:
        </h3>
        <form id="new-blog" class="new-blog-form"></form>
        <label for="blog-name">Blog name:</label>
        <label for="blog-decription">Blog description:</label>
        <input type="text" id="blog-description" name="blog-description">
        <input type="text" id="blog-name" name="blog-name">
        <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
<div>
{{#if blogs.length}}
<h3>
    Current Posts:
</h3>
{{#each blogs as |blog|}}
<div class="container">
<h3>
<a href="/blog/{{blog.id}}">{{blog.name}}</a>
</h3>
<button id="delete-blog" data-id="{{blog.id}}">Delete</button>
<button href="/edit-blog" data-id="{{blog.id}}">Update post</button>

</div>
{{/each}}
{{#if}}
</div>

<script src="/js/profile.js"></script>